<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>گالری تصاویر | <%= pageTitle %></title>
    <%- include('./../includes/links.ejs') %>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navber-section">
          <li>
            <a href="/">خانه <i class="fa fa-home"></i></a>
          </li>
          <li>
            <a href="#">جستجو <i class="fa fa-search"></i></a>
          </li>
          <li>
            <a href="/contact-us"
              >ارتباط با ما <i class="fa fa-envelope"></i
            ></a>
          </li>
          <li>
            <a href="#/about-me">درباره ما <i class="fa fa-"></i></a>
          </li>
        </div>
        <div class="navber-section">
          <% if(authenticated) { %>
            <li>
              <a href="/dashboard">ورود به داشبورد <i class="fa fa-dashboard"></i></a>
            </li>
          <% } else { %>
            <li>
              <a href="/login">ورود به حساب <i class="fa fa-user-circle"></i></a>
            </li>
          <% } %>
        </div>
      </nav>
      <img src="./img/header.jpg" alt="گالری تصاویر" class="header-img" />
    </header>
    <main>
        <%- body %>
    </main>
    <footer class="footer">
      <p>
        این پروژه ی گالری تصاویر بصورت کامل توسط امیرمحمد میرزائی برای تست و
        تمرین خودش طراحی شده است.
      </p>
    </footer>

    <%- script %>
  </body>
</html>
