    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>تصویر</th>
                <th>عنوان تصویر</th>
                <th>لایک ها</th>
                <th>تاریخ افزودن</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="assets/img/pictures/2.jpg" alt="">
                </td>
                <td>برنامه نویسی</td>
                <td><i class="fa fa-heart"></i> 5</td>
                <td>1401/11/21 20:17:49</td>
                <td>
                    <span class="badge badge-success">نمایش بده</span>
                    <span class="badge badge-danger">تایید نشده</span>
                </td>
                <th>
                    <a href="#" class="btn btn-primary">ویرایش</a>
                    <a href="#" class="btn btn-danger">حذف</a>
                </th>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <img src="assets/img/pictures/2.jpg" alt="">
                </td>
                <td>برنامه نویسی</td>
                <td><i class="fa fa-heart"></i> 5</td>
                <td>1401/11/21 20:17:49</td>
                <td>
                    <span class="badge badge-success">نمایش بده</span>
                    <span class="badge badge-danger">تایید نشده</span>
                </td>
                <th>
                    <a href="#" class="btn btn-primary">ویرایش</a>
                    <a href="#" class="btn btn-danger">حذف</a>
                </th>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <img src="assets/img/pictures/2.jpg" alt="">
                </td>
                <td>برنامه نویسی</td>
                <td><i class="fa fa-heart"></i> 5</td>
                <td>1401/11/21 20:17:49</td>
                <td>
                    <span class="badge badge-success">نمایش بده</span>
                    <span class="badge badge-danger">تایید نشده</span>
                </td>
                <th>
                    <a href="#" class="btn btn-primary">ویرایش</a>
                    <a href="#" class="btn btn-danger">حذف</a>
                </th>
            </tr>
        </tbody>
    </table>
