* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vazir", "tahoma";
  }
  @font-face {
    font-family: "Vazir";
    src: url("./../fonts/Vazir-Bold.eot") format("eot"),
      url("./../fonts/Vazir-Bold.ttf") format("ttf"),
      url("./../fonts/Vazir-Bold.woff") format("woff"),
      url("./../fonts/Vazir-Bold.woff2") format("woff2");
  
    font-weight: 900;
    font-style: normal;
  }
  
  body {
    direction: rtl;
    background-color: #d9d9d9;
    overflow-x: hidden;
    color: #353535;
  }
  
  ul,
  li {
    list-style: none;
  }
  a,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
  }
  a{
    color: #353535;
  }