      <section class="best-pictures">
        <h2 class="section-title" >
          بهترین تصاویر
        </h2>
        <div class="pictures">
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/1.jpg" alt="" />
          </div>
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/2.jpg" alt="" />
          </div>
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/3.jpg" alt="" />
          </div>
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/4.jpg" alt="" />
          </div>
        </div>
        <div class="pictures-more">
            <a href="/pictures.html">تصاویر بیشتر...</a>
        </div>
      </section>
      <section class="latest-pictures">
        <h2 class="section-title">
          جدیدترین تصاویر
        </h2>
        <div class="pictures">
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/1.jpg" alt="" />
          </div>
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/2.jpg" alt="" />
          </div>
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/3.jpg" alt="" />
          </div>
          <div class="picture">
            <div class="picture-info">
              <h3>نام عکس</h3>
              <span class="heart">
                2
                <i class="fa fa-heart"></i>
              </span>
            </div>
            <img src="./img/pictures/4.jpg" alt="" />
          </div>
        </div>
        <div class="pictures-more">
            <a href="/pictures.html">تصاویر بیشتر...</a>
        </div>
      </section>
      <section class="best-photografers">
        <h2 class="section-title">
            بهترین عکاسان
          </h2>
          <div class="photografers">
            <div class="photografer">
                <img src="./img/users/1.jpg" alt="" >
                <h3>امیرمحمد</h3>
            </div>
            <div class="photografer">
                <img src="./img/users/2.jpg" alt="">
                <h3>علی</h3>
            </div>
            <div class="photografer">
                <img src="./img/users/3.jpg" alt="">
                <h3>جواد</h3>
            </div>
          </div>
      </section>